{% extends "base.html" %} {% load static %} 
{% block css_files %}
    <link rel="stylesheet" href="{% static "myblog/stored-posts.css"%}">
{% endblock  %}
{% block title %}
    My Stored Posts
{% endblock  %}

{% block content %}

<section id="stored-posts">
    {% if not has_posts %}
      <p>You did not save any post to read later.</p>
    
    {% endif %}
    <ul>
        {% for post in posts  %}
          <li><a href="{% url "post_detail" post.slug %}">{{post.title}}</a></li>
        {% endfor %}
    </ul>


</section>


{% endblock  %}